# Data
data/raw_html/
data/raw/
data/processed/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
